html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100 14px 'Roboto';
}

button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
  outline: none;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);
}

#wrapper {
  height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.calculator {
  width: 100%;
  height: 100%;
  background: white;
  
  display: flex;
  flex-direction: column;
}

#wrapper .calculator {
  box-shadow: 0px 0px 20px 0px #aaa;
}

.calculator-display {
  color: #00e6ac  ;
  background: #3366cc;
  line-height: 150%;
  font-size: 5em;  
  flex: 1;
  height: 15%;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right;
}

.calculator-keypad {
  height: 85%;  
  display: flex;
  width: 100%;
}

.calculator .input-keys {
  width: 85%;
}

.calculator .function-keys {
  display: flex;
}

.calculator .digit-keys {
  background: #e0e0e7;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.calculator-key {
  width: 33.33%;
  height: auto;
  /*border-top: 1px solid #777;
  border-right: 1px solid #666;*/  
  text-align: center;
  line-height: 80px;
}
.calculator .function-keys .calculator-key {
  font-size: 2em;
}
.calculator .function-keys .key-multiply {
  line-height: 50px;
}
.calculator .digit-keys .calculator-key {
  font-size: 2.25em;
}
.calculator .digit-keys .key-0 {
  width: 33.33%;
}
.calculator .digit-keys .key-dot {
  width: 33.33%;
}
.calculator .digit-keys .key-back {
  width: 33.33%;
}
.calculator .operator-keys .calculator-key {
  width: 100%;
  height: 20%;
  color: white;
  border-right: 0;
  font-size: 3em;
}

.calculator .function-keys {
  height: 20%;
  background: #e0e0e7;
  /*background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);*/
}
.calculator .operator-keys {
  width: 15%;
  background:  linear-gradient(to bottom, rgba(33, 150, 243,1) 0%, rgba(33, 150, 243,1) 100%)
}
